h1{
	font-size: 60px;
}
#grid-col {
  display: grid;
  grid-template-columns: auto auto auto;
}
 
div.col {
  background: silver;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 130px;
}

div.col {
	text-align: right;
	border: 1px solid black;
}

#id {
	border-color: brown;
}
 
@media screen and (max-width: 640px) {
  #grid-col { grid-template-columns: 100%; }
}